body {
    background-color: #212529; 
    color: white; 
}

.container {
    background-color: #343a40; 
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

h1, h2 {
    color: white; 
}

.logo {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 5px;
}

p {
    color: #adb5bd; 
}

a {
    color: #17a2b8; 
}

.tags {
    margin-bottom: 0; 
}


.loading-text {
    margin-top: 50px;
    animation: fadeInOut 1.5s infinite; 
    margin-left:20%; 
  }
  
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0.5; 
    }
    50% {
      opacity: 1; 
    }
  }