

        <div class="main-content">
            <form class="formEditarAccion">
                <br>
                <div style="max-width: 500px;margin-left:40%;">
                    <div class="mb-3">
                    <label  class="form-label">Nombre de la acción</label>
                    <input formControlName="nombre"  type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                    <label  class="form-label">Número de acciones</label>
                    <input  formControlName="numero" type="number" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Añadir</button>
                </div>
            </form>
      </div>

  
